

footer *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
footer ul{
    list-style: none;
}
footer{
    color: #fff;
    background: #121315;
}
footer p{
    color: #ccc;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
}
footer a{
    color: #fff;
    text-decoration: none;
}
footer h4{
    margin-bottom: 1em;
    text-transform: uppercase;
}
footer .container7{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}




.footer4 {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.footer4 .menu li{
    display: inline-block;
    margin: 0.7em;
    text-align: center;
}
.footer4 p{
    margin: 0 auto;
}
.footer4 .media-icons{
    margin: 1.5em 0;
    display: flex;
    justify-content:center;
    gap: 2rem;
}
.copy {
    background-color: #121315;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-weight: 200;
}
.map{
    position: absolute;
    right: 1%;
    margin: 1%;
    padding-top: 2.5%;
    order: 2;
}

@media screen and (max-width: 480px){
    .map {
        position: static; /* Reset position */
        padding-top: 0;
    }
}