.logo a{
    color: aliceblue;
    text-decoration: none;
}
.font{
    font-size: 2rem;
    font-weight: bold;
}
#section1{
    background-image:url(file.jpg);
    background-size: 100%;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
.main1{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size:4rem;
    color: white;
    font-weight: bold;
}
.main3{
    position: absolute;
    top: 52%;
    left: 17%;
    font-size:2rem;
    color: white;
    font-weight: bold;
}
.describe-main{
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 57%;
    left:5%;
    padding: 1%;
}
.linkedin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0d0d0d;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    font-size: 2rem;
    position:absolute;
    top: 67%;
    left:18.5%;
}

.linkedin-button i {
    margin-right: 30%;
}
.email-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0a0a0a; /* Orange color for email button */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-size: 2rem;
    position:absolute;
    top: 67%;
    left:24%;
}
.github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0a0a0a; /* Orange color for email button */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-size: 2rem;
    position:absolute;
    top: 67%;
    left:13%;
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.phone-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #050505; /* Green color for phone button */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    font-size: 1em;
 /* Apply heartbeat animation */
    font-size: 2rem;
    position:absolute;
    top: 67%;
    left:30%;
    
}

.phone-button i {
    margin-right: 10px;
}
.section2-3{
    background-image:url(background.jpg);
    background-size: 100%;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 30px;
    
}
.section2{
    background-image:url(background.jpg);
    background-size: 100%;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 30px;
}
.secgtion2-card{
    width: 50%;
    height: 50%;
    background-color: aliceblue;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.main2{
    /* position: absolute; */
    top:10%;
    left: 32%;
    font-size:6rem;
    color: white;
    font-weight: bold;
    margin: 30px;
}
.main4{
    position: absolute;
    top:10%;
    left: 42%;
    font-size:6rem;
    color: white;
    font-weight: bold;
}
.cards{
    display: flex;
    position: absolute;
    top: 30%;
    margin: 5%;


}
.card{
text-align:center;
justify-content: center;
font-size: 2rem;
display: flex;
flex-direction: column;

}
.main2-h2{
    font-size: 3rem;
}
img{
    width: 20%;
    height: 100%;
}
.video{
    justify-content: center;
}
#project{
    width:80%;
    height: 80%;
}
.cards2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 50%;
}
#section4{
    height: 80vh;
}
.card6{
    text-align:center;
    justify-content: center;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin:1%;
    
    }
    .main-name{
        font-size:3rem;
        color: white;
        font-weight: bold;
        text-align: left;
        padding:4%;
        

    }
    .main-position{
        font-size:3rem;
        color: white;
        font-weight: bold;
        text-align: center;
        padding:4%;

    }
    .section7{
        background-image:url(background.jpg);
        background-size: 100%;
        background-size: cover;
        width: 100%;
        height: 80vh;
        justify-content: space-around;
        display: flex;
    }
    .icon-button {
        padding:3%;
        margin: 2%;
        background-color: #0d0d0d;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 30px;
        font-size: 1em;
        font-size: 2rem;

    }
    a{
        text-decoration-line: none;
        color: aliceblue;
    }
    .download-button {
        display: inline-block;
        padding: 15px 25px;
        background-color: #093284;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        border-radius: 7%;
    }

    .download-button:hover {
        background-color: #131d14;
    }
    .iframe{
        padding: 3%;
        width: 33.5%;

    }
    .footer{
        color: aliceblue;
        width: 33.5%;
        font-size: 3rem;
        position:relative;
        top: 10%;
        left: 10%;
  
        
    }
    .cv{
        position: absolute;
        top: 80%;
        left: 15%;
    }
    @media only screen and (max-width: 600px) {
        .section1{
            background-image: url(WhatsApp\ Image\ 2024-05-12\ at\ 00.55.10_79148e60.jpg);
        }
        .main1{
            font-size: 2.5rem;
            top: 50%;
        }
        .main3{
            font-size: 2rem;
            top: 60%;
            left: 12%;
        }
        .describe-main{
            font-size: 1rem;
            left: 9%;
        }
        .linkedin-button{
            margin: 10%;
        }
        .email-button{
            margin: 20%;
        }
        .github-button{
            margin-right: 10%;
        }
        .phone-button{
            margin: 30%;
        }


      }




    